.wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #83D4D4;
    color: #183E77;
}

.info {
    font-size: 1.25rem;
    font-weight: 500;
}

.info li {
    margin-bottom: 5px;
}

.info li:last-child {
    margin-bottom: 0px;
}

.data {
    display: inline-block;
    color: #1F1E26;
    margin-left: 10px;
    transform: translateY(-5px);
}

.social {
    display: flex;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.5s;
}

.socialIcon {
    transition: all 0.5s;
    margin: 0px 5px;
    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.5))
            drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.socialIcon:hover {
    color: #182e55;
    filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.5))
            drop-shadow(-3px -3px 3px rgba(0, 0, 0, 0.3));
}

@media only screen and (max-width: 576px) {

    .wrapper {
        flex-direction: column-reverse;
    }

    .social, .btn {
        align-self: center;
        margin-bottom: 1.5rem;
    }
}