.container {
    padding: 10px 25px;
    margin: 2rem 0;
}

.sectionTitle {
    font-size: 2.5rem;
}

.wrapper {
    margin: 20px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 25px;
}

.card {
    width: 120px;
    height: 140px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.3),
                -3px -3px 12px rgba(255,255,255,.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.card:hover {
    background-color: #183e77;
    color: #e2e2f2;
    transform: scale(1.1);
}

.photo {
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 10px 20px;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}