.container {
    background-color: #182e55;
    padding: 10px 25px;
}

.innerContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.text {
    text-align: center;
    font-size: 1.25rem;
    color: #e2e2f2;
}